.container {
display: flex;
justify-content: center;
align-items: center;
height: 35vh;
}

.center {
text-align: center;
}

h1 {
color: #007bff;
}

.win-message {
font-size: 40px;
font-weight: bold;
margin-bottom: 50px;
}

.play-again {
display: inline-block;
padding: 10px 20px;
border-radius: 5px;
border: none;
background-color: #007bff;
color: #fff;
font-size: 20px;
font-weight: bold;
text-decoration: none;
transition: background-color 0.2s ease-in-out;
}

.play-again:hover {
background-color: #0056b3;
}