body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #007bff;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
