<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guessGame.css') }}">
</head>
<body>
  <h1>Guess Game</h1>
  <p>Choose a number between 1 and {{level}}</p>

  <!--Ask the user to guess a number and submit-->
  <form action="/secret_guess" method="POST">
    <input type="number"  name="guess">
    <input type="hidden" name="number" value="{{ number }}">
    <input type="submit">
</form>

</body>
</html>